<h1><%= @user.name %>'s Profile</h1>
<% if current_user %>
  <li><%=  link_to "Ask a question", new_post_path %></li>
<% end %>
<h2>Your Questions</h2>
<% @posts.each do |post| %>
  <ul>
    <li><%= link_to post.title, post_path(post) %></li>
  </ul>
<% end %>