
<h1 class="center">All Posts</h1>

<div class="post-list">
  <div class = "posts">
    <% @posts.each do |post| %>
      <% if post.parent_id==nil %>
        <li>
          <div class="votes">
            <div class="mini-counts"></div>
            <div>Votes</div>
          </li>
        <li><div class = "answers">Answers</div></li>
        <li><%= link_to post.title, post_path(post) %></li><br>
      <% end %>
    <hr class="clear">
    <% end %>
  </div>
</div>

<!-- <li><%=  link_to "Ask a question", new_post_path %></li> -->

