
ul {
  list-style-type: none;
}
li{
  display: inline;
}

header {
  height:30px;
  margin:auto;
  display: block;
}
.nav {
  padding: 0px 25px;

}
.nav a:link {
  color: white;
  text-decoration: none;
}

.nav a:visited {
  color: white;
}
.nav a:hover {
  color:#E8E8E8;
}

.top_links  li {
  height:30px;
  background-color: #A0A0A0;
  margin:0px 15px;
  padding:10px 25px 0px 25px;
  float: left;
}
.question_link li{
  float: right;
  height:30px;
  background-color: #A0A0A0;
  margin:0px 15px;
  padding:10px 25px 0px 25px;

}

.logo{
  float: left;
  font-size: 2em;
}

.votes {
  float: left;
  height: 40px;
  width: 40px;
  margin:0px 20px;
}
.mini-counts{
  height:25;
  font-size: 150%;
}

.answers {
  float: left;
  height: 30px;
  width: 50px;
  margin:0px 20px;
}

.posts {
  height: 50px;
  padding: 20px 30px;
}

.post-list{
  margin: auto;
  text-align: center;
  display: block;

}
.clear{
  clear: both;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

.center{
  text-align: center;
}

.text-cell{
  width: 500px;
  height:500px;
  vertical-align:text-top;
  padding:4px 8px;
  margin-bottom:0px;
}
.title-cell{
  width: 515px;
}

.question_container h1 {
  text-align: center;
}
.question_container {
  margin:0px 50px;
}
.login{
  margin:30px;
}